<div class="navbar2">
    <nav>
        <ul>
            <li id="li2"><a href="/index" id="Home">Home</a></li>
            <li id="li2"><a href="/encounters" id="Encounters">Encounters</a></li>
            <li id="li2"><a href="/bears" id="Bears"><b>Bears</b></a></li>
            <li id="li2"><a href="/humans" id="Humans">Humans</a></li>
            <li id="li2"><a href="/parks" id="Parks">Parks</a></li> 
        </ul>
    </nav>
</div>
<h1>Manage Bears</h1>
<div>
<form id="addBear" action="/addbear" method="post">
    <fieldset>
        <legend>Create New Bear Bio</legend>
        <label for="bearname">Bear Name (required):</label>
        <input type="text" id="bearname" name="bearname">
        <br>
        <label for="species">Bear Species:</label>
        <input type="text" id="species" name="species">
        <br>
        <label for="tattoos">Bear's Identifying Tattoos:</label>
        <input type="text" id="tattoos" name="tattoos">
        <br>
        <input type="submit" value="Create Bear" id="createbutton">
    </fieldset>
</form>
</div>

<div>
    <form id="updateBear" action="/updatebear" method="post">
    <fieldset>
        <legend>Update Bear Record</legend>
        <p>Enter existing bear, and data to be updated:</p>
        <label for="bearName">Name:</label>
        <select id="bearID" name="bearID">
            <option value="">Choose a Bear</option>
            {{#each data.bears}}
            <option value={{this.bearID}}>{{this.bearName}}</option>
            {{/each}}
        </select>
        <br>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species">
        <br>
        <label for="identifyingTattoos">Identifying tattoos:</label>
        <input type="text" id="identifyingTattoos" name="identifyingTattoos">
        <br>
        <input type="submit" value="Update Bear" id="updatebutton">
    </fieldset>
</form>
<br>
</div>

<div>
    <form id="searchBear" action="/bearsearch" method="post">
    <fieldset>
        <legend>Search Bears:</legend>
        <label for="bearsearch">Search Word:</label>
        <input type="search" id="bearsearch" name="bearsearch">
        <br>
        <input type="submit" value="Search" id="searchbutton">
    </fieldset>
</form>
</div>

<h2>Bears</h2>
<table>
    <tr>
        <th>bearID</th>
        <th>Name</th>
        <th>Species</th>
        <th>Identifying Tattoos</th>
    </tr>
    {{#each data.bears}}
    <tr>
        <td>{{this.bearID}}</td>
        <td>{{this.bearName}}</td>
        <td>{{this.species}}</td>
        <td>{{this.identifyingTattoos}}</td>
    </tr>
    {{/each}}
</table>