<div class="navbar2">
    <nav>
        <ul>
            <li id="li2"><a href="/index" id="Home">Home</a></li>
            <li id="li2"><a href="/encounters" id="Encounters">Encounters</a></li>
            <li id="li2"><a href="/bears" id="Bears">Bears</a></li>
            <li id="li2"><a href="/humans" id="Humans"><b>Humans</b></a></li>
            <li id="li2"><a href="/parks" id="Parks">Parks</a></li> 
        </ul>
    </nav>
</div>
<h1>Manage Humans</h1>
<div>
<form id="addHuman" action="/addhumans" method="post">
    <fieldset>
        <legend>Create Human (adds Human to Encounter)</legend>
        <label for="encounterID">encounterID (required):</label>
        <select id="encounterID" name="encounterID">
            <option value="">Choose an Encounter</option>
            {{#each data.encounters}}
            <option value={{this.encounterID}}>{{this.encounterID}}</option>
            {{/each}}
        </select>
        <br>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname">
        <br>
        <label for="bday">Date of birth:</label>
        <input type="date" id="bday" name="bday">
        <br>
        <input type="submit" value="Create Human" id="submitbutton">
    </fieldset>
</form>
</div>

<br>
<h2>Humans</h2> 
<table>
    <tr>
        <th>Encounter ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
    </tr>
    {{#each data.humans}}
    <tr>
        <td>{{this.encounterID}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.birthday}}</td>
    </tr>
    {{/each}}
</table>